body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darkslategray;
}

.clock {
    height: 300px;
    width: 300px;
    border-radius: 180px;
    border: solid 5px rgb(252, 255, 55);
    position: absolute;
    background-color: beige;
}

#seconds-hand {
    position: absolute;
    height: 130px;
    width: 2px;
    background-color: coral;
    left: 149px;
    bottom: 149px;
    opacity: 50%;
    transform-origin: 0% 100%;
}

#minutes-hand {
    position: absolute;
    height: 100px;
    width: 3px;
    background-color: blue;
    left: 151px;
    bottom: 149px;
    transform-origin: 0% 100%;
}

#hours-hand {
    position: absolute;
    height: 80px;
    width: 4px;
    background-color: green;
    left: 149px;
    bottom: 149px;
    transform-origin: 0% 100%;
}

#center {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: black;
    position: absolute;
    left: 145px;
    bottom: 145px;
}

#twelve {
    height: 40px;
    width: 40px;
    color: black;
    position: absolute;
    left: 135px;
    top: 2px;   
    font-size: 30px;
    font-weight: 600;
}

#three {
    height: 40px;
    width: 20px;
    color: black;
    position: absolute;
    right: 2px;
    top: 132px;   
    font-size: 30px;
    font-weight: 600;
}

#nine {
    height: 40px;
    width: 20px;
    color: black;
    position: absolute;
    left: 8px;
    top: 132px;   
    font-size: 30px;
    font-weight: 600;
}

#six {
    height: 40px;
    width: 40px;
    color: black;
    position: absolute;
    left: 140px;
    bottom: 0px;   
    font-size: 30px;
    font-weight: 600;
}

#two {
    height: 40px;
    width: 20px;
    color: black;
    position: absolute;
    right: 24px;
    top: 60px;   
    font-size: 30px;
    font-weight: 600;
}